<!DOCTYPE html>
<html class="js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage no-websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients no-cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg no-smil svgclippaths">
<head>
    <% include partials/head %>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <% include partials/header %>
    </div>
    <div class="container body-content">
        <div 
        <form class="form-inline">
  <div class="form-group">
  <div class="form-group">
    <input type="text" class="form-control" id="searchkey" placeholder="enter filename or dir">
  </div>
  <button type="submit" class="btn btn-default">Search</button>
</form>
        </div>
        <hr/>
        <div>
        <% data.forEach(function(file) { %>
           <div><%=file %> </div>
           <% }); %>
        </div>
    </div>
    <hr>
    <% include partials/footer %>
</body>

</html>