<footer><p>© 2016 - FtpNode Application</p></footer>
<script src="/javascripts/jquery-1.10.2.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/respond.js"></script>
<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/angular/je-ng-app.js"></script>
<script src="/javascripts/angular/je-ng-srvc-crud.js"></script>
<script src="/javascripts/angular/je-ng-ctrl-crud.js"></script>